#sortable1,    #sortable2,    #sortable3,    #sortable4,    #sortable5,   #sortable6,     #sortable7 { list-style-type: none; margin: 1; padding: 1; float: left; margin-right: 8px; }
#sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li, #sortable5 li, #sortable6 li, #sortable7 li{ margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; }
.pbar{height:10px !important;}
