/* Columns */
.col_prop_header{background-color: white;border: medium solid rgb(136, 136, 136);}
.col_prop{border: medium solid rgb(136, 136, 136);text-align: center;}
.col_itm{min-height: 300px; min-width:135px; height:100%; list-style-type: none; margin: 1; padding: 1; float: left; }

/* Kanban boxes */
.box_itm{width:120px; margin: 5px;}
.box_itm_name{font-size: 1.1em;}
.box_itm_opt{font-size: 0.7em;text-align: right;}
.pbar{height:12px !important;}
